@page "/login"

<PageTitle Value="Login" />

<div class="component-login text-center">
    <form @onsubmit="@LoginAsync">

        <img src="/img/icon-512x512.png" class="my-4" />

        <Validation ErrorMessages="ErrorMessages" />

        <input type="text" class="form-control" placeholder="Username..." @bind="UserName" />
        <input type="password" class="form-control" placeholder="Password..." @bind="Password" />

        <div class="checkbox mb-4">
            <label>
                <input type="checkbox" value="remember-me" @bind="IsPersistent" /> Remember me
            </label>
        </div>

        <div class="mb-3 mx-4">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
        </div>
        <div class="mb-3">
            <a href="@Navigator.UrlRegister()">Register a new account</a>
        </div>
    </form>
</div>