@page "/login"

<DocumentTitle Value="Login" />

<Card Title="Login">
    <form @onsubmit="@LoginAsync">
        @if (!IsValid)
        {
            <div class="mb-3 text-danger">
                <Icon Identifier="exclamation-triangle" />
                Invalid username or password.
            </div>
        }

        <div class="input-control mb-3">
            <Icon Identifier="user" />
            <input type="text" class="form-control" placeholder="Username..." @bind="UserName" />
        </div>
        <div class="input-control mb-3">
            <Icon Identifier="lock" />
            <input type="password" class="form-control" placeholder="Password..." @bind="Password" />
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="remember-me" @bind="IsPersistent" />
            <label class="form-check-label" for="remember-me">Remember me for 14 days</label>
        </div>

        <div class="d-grid gap-3">
            <button type="submit" class="btn btn-salmon">Login</button>
            <a href="@Navigator.UrlRegister()" class="btn btn-secondary">Register a new account</a>
        </div>
    </form>
</Card>
