@page  "/me"
@layout Commons.Layouts.MainLayout

<PageTitle Value="About me" />

<div class="row body-offset">
    <div class="col-6">
        <h2 class="mb-3">
            <Icon Identifier="user" />
            @UserName
        </h2>
        <p>
            Registered at @Created.ToString(UiOptions.DateFormat)
        </p>
    </div>
</div>
<div class="row body-offset">
    <div class="col-md-6 col-lg-4">
        <h2 class="mb-3">
            <Icon Identifier="lock" />
            Change password
        </h2>
        <div class="change-password">
            <Validation ErrorMessages="ChangePassword.ErrorMessages" />
            <form @onsubmit="@ChangePassword.ExecuteAsync">
                <div class="mb-3">
                    <input class="form-control" type="password" placeholder="Current password" @bind="ChangePassword.Current" />
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" placeholder="New password" @bind="ChangePassword.New" />
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" placeholder="Confirm new password" @bind="ChangePassword.ConfirmNew" />
                </div>
                <button class="btn btn-primary" type="submit">Change password</button>
            </form>
        </div>
    </div>
</div>
