@page "/{UserName}"
@layout Commons.Layouts.MainLayout

<div class="row body-offset">
    <div class="col-6">
        <h2 class="mb-3">
            <Icon Identifier="person" />
            @UserName
        </h2>
    </div>
</div>