@page "/register"
@inherits UserStateComponentBase

<DocumentTitle Value="Register" />

<Card Title="Registration">
    <form @onsubmit="@RegisterAsync">
        @if (ErrorMessages.Count > 0)
        {
            <div class="mb-3 text-danger">
                @foreach (var errorMessage in ErrorMessages)
                {
                    <div class="d-flex align-items-center">
                        <Icon Identifier="exclamation-triangle" />
                        @errorMessage
                    </div>
                }
            </div>
        }

        <div class="input-control mb-3">
            <Icon Identifier="user" />
            <input type="text" class="form-control" placeholder="Username..." @bind="UserName" />
        </div>
        <div class="input-control mb-3">
            <Icon Identifier="lock" />
            <input type="password" class="form-control" placeholder="Password..." @bind="Password" />
        </div>

        <div class="d-grid gap-3">
            <button type="submit" class="btn btn-salmon">Register</button>
            <a href="@Navigator.UrlLogin()" class="btn btn-secondary">I already have an account</a>
        </div>
    </form>
</Card>
