@page  "/register"

<PageTitle Value="Register" />

<div class="component-login text-center">
    <form @onsubmit="@RegisterAsync">

        <img src="/img/icon-512x512.png" class="mb-3 mt-4" />

        <Validation ErrorMessages="ErrorMessages" />

        <label for="UserName" class="sr-only">Username:</label>
        <input type="text" id="UserName" class="form-control" placeholder="Username:" @bind="UserName" />
        <label for="Password" class="sr-only">Password:</label>
        <input type="password" id="Password" class="form-control" placeholder="Password:" @bind="Password" />

        <div class="my-3">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
        </div>
        <div class="mb-3">
            <a href="@Navigator.UrlLogin()">I already have an account</a>
        </div>
    </form>
</div>
