@page  "/register"

<PageTitle Value="Register" />

<div class="component-login text-center">
    <form @onsubmit="@RegisterAsync">

        <img src="/img/icon-512x512.png" class="my-4" />

        <Validation ErrorMessages="ErrorMessages" />

        <input type="text" class="form-control" placeholder="Username..." @bind="UserName" />
        <input type="password" class="form-control" placeholder="Password..." @bind="Password" />

        <div class="mb-3 mt-4 mx-4">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
        </div>
        <div class="mb-3">
            <a href="@Navigator.UrlLogin()">I already have an account</a>
        </div>
    </form>
</div>
