<div class="actions row @CssClass">
    @if (ChildContent != null)
    {
        <div class="col-12">
            @ChildContent
        </div>
    }

    @if (LeftContent != null)
    {
        <div class="left-actions col-sm-12 col-md-6">
            @LeftContent
        </div>
    }

    @if (RightContent != null)
    {
        <div class="right-actions col-sm-12 col-md-6">
            @RightContent
        </div>
    }
</div>
