<div class="alert @ModeCssClass @CssClass" role="alert">
    @if (OnDismiss.HasDelegate)
    {
        <button type="button" class="btn-close" @onclick="@OnDismiss"></button>
    }

    @if (Title != null)
    {
        <strong class="me-1">
            @Title
        </strong>
    }

    @if (Message != null)
    {
        <span>
            @Message
        </span>
    }

    @if (Messages != null)
    {
        foreach (string message in Messages)
        {
            <div>
                @message
            </div>
        }
    }

    @ChildContent
</div>
