<div class="alert @ModeCssClass" role="alert">
    @if (OnDismiss.HasDelegate)
    {
        <button type="button" class="close" @onclick="@OnDismiss">
            <span aria-hidden="true">&times;</span>
        </button>
    }

    @if (Title != null)
    {
        <strong class="mr-1">
            @Title
        </strong>
    }
    
    @if (Message != null)
    {
        <span>
            @Message
        </span>
    }

    @if (Messages != null)
    {
        foreach (string message in Messages)
        {
            <div>
                @message
            </div>
        }
    }
</div>
