<a class="dropdown-item @CssClass" @onclick="@OnClick" title="@Title">
    <Icon Identifier="@Icon" />
    @Text
</a>

@code
{
    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string CssClass { get; set; }

}