@if (IsVisible)
{
    <div class="container exception-panel">
        @if (IsNotFound)
        {
            @NotFoundContent
        }
        else
        {
            <Alert Title="@Title" Message="@Message" Mode="@AlertMode.Error" OnDismiss="@(() => IsVisible = false)" />
        }
    </div>
}