<form @ref="FormElement" class="inline-form @CssClass" action="@Url">
    <input type="file" multiple="@IsMultiple" accept="@Accept" class="d-none" />
    <button type="button" class="btn btn-sm btn-primary">
        <Icon Identifier="image" />
        @Text
    </button>
</form>
