<form @ref="FormElement" class="inline-form @FormCssClass" action="@Url">
    <input type="file" multiple class="d-none" />
    <button type="button" class="@ButtonCssClass" @onclick="OnClick">
        <Icon Identifier="image" />
        @Text
    </button>
</form>
