<div @ref="Element" @attributes="Attributes" tabindex="-1">
    @if (IsHeader)
    {
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">
                @Title
                @TitleContent
            </h5>
            @HeaderContent
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
    }
    <div class="@BodyCssClass">
        @ChildContent
    </div>
</div>