<div @ref="Element" @attributes="Attributes" class="@cssClass" tabindex="-1">
    @if (IsHeader)
    {
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">
                @Title
                @TitleContent
            </h5>
            @HeaderContent
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
    }
    <div class="@bodyCssClass">
        @if (!IsBodyRenderedLazily || hasBodyRendered || IsVisible)
        {
            hasBodyRendered = true;
            @ChildContent
        }
    </div>
</div>