<div class="swipe-container @CssClass" @ref="container">
    <div class="swipe-track">
        <div class="swipe-panel">
            @PreviousContent
        </div>
        <div class="swipe-panel">
            @ChildContent
        </div>
        <div class="swipe-panel">
            @NextContent
        </div>
    </div>
</div>
