@page "/entry/{EntryId}/image/{ImageId}"
@inherits ImageDetailModel

@if (Model != null)
{
    <div class="image-detail">
        <div class="image">
            <img src="@Api.ResolveUrl(Model.Preview)" />
        </div>

        <div class="actions">
            <button type="button" class="btn btn-sm btn-danger" onclick="@(() => DeleteAsync())" title="Delete Image">
                <Icon Identifier="trash" />
                Delete Image
            </button>
        </div>
    </div>
}
