@page "/map"
@layout Commons.Layouts.HeadLayout
@inherits UserStateComponentBase

<DocumentTitle Value="Map" />

@if (!IsLoading)
{
    <div class="mappage">
        <Neptuo.Recollections.Components.Map Markers="@Markers" MarkerSelected="OnMarkerSelected" PointOfInterest="@PoiToggleButton" />
    </div>
}