@layout Commons.Layouts.HeadLayout
@page "/map"

<DocumentTitle Value="Map" />

@if (!IsLoading)
{
    <div class="mappage">
        <Neptuo.Recollections.Components.Map Markers="@Markers" MarkerSelected="OnMarkerSelected" IsResizable="true" PointOfInterest="@PoiToggleButton" />
    </div>
}