@layout Commons.Layouts.HeadLayout
@page "/map"

<PageTitle Value="Map" />

@if (!IsLoading)
{
    <div class="mappage">
        <Neptuo.Recollections.Components.Map Markers="@Markers" MarkerSelected="OnMarkerSelected" IsResizable="true" IsPointOfInterest="IsPointOfInterest">
            <ButtonsContent>
                <PoiToggleButton />
            </ButtonsContent>
        </Neptuo.Recollections.Components.Map>
    </div>
}