@page "/map"
@layout Commons.Layouts.HeadLayout
@inherits UserStateAuthenticatedComponentBase

<DocumentTitle Value="Map" />

@if (IsLoading)
{
    <Loading IsLoading="true" />
}
else
{
    <div class="mappage">
        <Map Markers="@Markers" MarkerSelected="OnMarkerSelected" EnableCountriesView="true" />
    </div>
}