@page "/map"
@layout Commons.Layouts.HeadLayout
@inherits UserStateAuthenticatedComponentBase

<DocumentTitle Value="Map" />

@if (IsLoading)
{
    <Loading IsLoading="true" />
}
else
{
    <div class="mappage">
        <Map @ref="mapComponent" Markers="@Markers" MarkerSelected="OnMarkerSelectedAsync" EnableCountriesView="true" EnableCurrentLocationButton="true" CurrentLocationError="OnCurrentLocationErrorAsync" />
    </div>
}

<EntryCardPopover @ref="entryPopover" Model="PopoverHandler.SelectedEntry" />

<TemplateContent Name="Dialogs">
    <Toast @ref="CurrentLocationErrorToast" />
</TemplateContent>