@page "/map"
@layout Commons.Layouts.HeadLayout
@inherits UserStateAuthenticatedComponentBase

<DocumentTitle Value="Map" />

@if (!IsLoading)
{
    <div class="mappage">
        <Map Markers="@Markers" MarkerSelected="OnMarkerSelected" />
    </div>
}