@inherits LayoutComponentBase
@layout HeadLayout

<div class="container body-content">
    @Body
</div>
<footer class="navbar navbar-light">
    <div class="container">
        <span class="navbar-text">
            <small>
                &copy; 2020 - Recollections - <a href="https://www.neptuo.com" target="_blank">Neptuo</a>
            </small>
        </span>
        <span class="navbar-text text-right">
            <small>
                <VersionInfo />
            </small>
        </span>
    </div>
</footer>