<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <CascadingValue Value="@routeData">
            <UserState RouteData="@routeData">
                <FileUploadBearerToken />
                <PwaUpdate>
                    <RouteView RouteData="routeData" />
                </PwaUpdate>
            </UserState>
        </CascadingValue>
    </Found>
    <NotFound>
        <div class="container mt-4">
            <NotFound />
        </div>
    </NotFound>
</Router>