@using Neptuo.Recollections.Entries.Beings
@inherits EntityCard<BeingListModel>

@Content

@code
{
    [CascadingParameter]
    public UserState UserState { get; set; }

    protected override string Title => $"{Model.Name}{(UserState.UserId == Model.Id ? " (me)" : string.Empty)}";

    protected override RenderFragment DefaultBodyContent =>
        @<div class="p-3">
            <div class="information">
                <Icon Prefix="fas" Identifier="comment-alt" CssClass="uniform" />
                @Model.Entries @(Model.Entries == 1 ? "entry" : "entries")
            </div>

            @if (UserState.UserId != Model.UserId)
            {
                <div class="information">
                    <Icon Identifier="user" CssClass="uniform" />
                    @Model.UserName
                </div>
            }
        </div>;
}