@inherits EntryImageModel

<div class="image @(PlaceHolder != null ? "image-placeholder" : String.Empty)">
    <a href="@GetLinkUrl()">
        <img src="@Url" class="rounded" />
    </a>
    @if (PlaceHolder != null)
    {
        <span>@PlaceHolder</span>
    }
</div>
