<form @onsubmit="@CreateAsync">
    <div class="entry entry-new">
        <div class="title">
            <input @ref="WhenInput" class="form-control date-box" type="text" placeholder="Today..." @bind="When" @bind:format="@UiOptions.DateFormat" />
        </div>
        <div class="body">
            <div class="row align-items-end">
                <div class="col-12 col-md mb-2 mb-md-0">
                    <Validation ErrorMessages="ErrorMessages" />
                    <input class="form-control" type="text" placeholder="Title..." @bind="Title" />
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">
                        <Icon Identifier="plus" />
                        Create a new entry
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>