<form @onsubmit="@CreateAsync">
    <div class="entry entry-new">
        <div class="title">
            <div class="input-group">
                <input @ref="WhenInput" class="form-control" type="text" placeholder="Today..." value="@When.ToDateTime().ToString(UiOptions.DateFormat)" />
                <button type="button" class="btn btn-outline-secondary" @onclick="(() => DatePicker.Show())">
                    <Icon Identifier="calendar-days" />
                </button>
            </div>
        </div>
        <div class="body">
            <div class="row align-items-end">
                <div class="col-12 col-md mb-2 mb-md-0">
                    <Validation ErrorMessages="ErrorMessages" />
                    <input class="form-control" type="text" placeholder="Title..." @bind="Title" />
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">
                        <Icon Identifier="plus" />
                        Create a new entry
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<DatePicker @ref="DatePicker" @bind-Value="When" @bind-Value:after="StateHasChanged" Part="DatePickerPart.Day" />