<span class="@CssClass">
    <a @onclick="@OnToggle">
        <Icon Prefix="fas" Identifier="location-arrow" />
        <span>@Text</span>
    </a>
</span>

@if (IsVisible)
{
    @ChildContent
}