<div class="entry entry-empty" @onclick="@LoadAsync">
    <div class="title">
        @if (IsLoading)
        {
            @LoadingText
        }
        else if (!HasMore)
        {
            @NoMoreText
        }
        else
        {
            @Text
        }
    </div>
</div>