<button @ref="@Button" class="btn btn-outline-primary" @onclick="@LoadAsync" disabled="@(IsLoading || !HasMore)">
    @if (IsLoading)
    {
        @LoadingText
    }
    else if (!HasMore)
    {
        @NoMoreText
    }
    else
    {
        @Text
    }
</button>