@if (Count > 0)
{
    <div class="entry entry-banner">
        <div class="body">
            <a href="@Navigator.UrlOnThisDay()" class="d-block text-decoration-none">
                <Alert Mode="@AlertMode.Info">
                    <Icon Identifier="history" CssClass="me-1" />
                    You have @Count @(Count == 1 ? "memory" : "memories") from this day in previous years.
                </Alert>
            </a>
        </div>
    </div>
}
