@foreach (var entry in Models)
{
    <div>
        <Icon Prefix="fas" Identifier="comment-alt" />
        <a href="@Navigator.UrlEntryDetail(entry.UserId, entry.Id)">
            @entry.Title
        </a>
    </div>
}