@if (UserState.UserId != Owner.Id)
{
    <div class="owner">
        <span class="cursor-pointer" @onclick="() => Navigator.OpenProfile(Owner.Id)">
            <Icon Identifier="user" />
            @Owner.Name
        </span>
    </div>
}