@if (UserState.UserId != Owner.Id)
{
    <div class="owner">
        <Icon Identifier="user" />
        @Owner.Name

        <a class="lnk-salmon-arrow" href="@Navigator.UrlProfile(Owner.Id)">»</a>
    </div>
}