@if (UserState.UserId != Owner.Id)
{
    <div class="owner inline-editor-viewmode">
        <a class="inline-editor-value d-inline-block cursor-pointer py-1" @onclick="() => Navigator.OpenProfile(Owner.Id)">
            <Icon Identifier="user" />
            @Owner.Name
        </a>
    </div>
}