@if (ClientVersion != null)
{
    <span class="version">
        Client-@ClientVersion
    </span>
}

@if (Separator && ClientVersion != null && ApiVersion != null)
{
    @: &#8226;
}

@if (ApiVersion != null)
{
    <span class="version">
        Api-@ApiVersion
    </span>
}