@inherits LayoutComponentBase

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
	</div>
</nav>
<div class="container body-content">
	@Body

	<hr />

	<footer>
		<p>&copy; 2019 - Recollections - Neptuo</p>
	</footer>
</div>
