.btn-floating {
    --self-width: 46px;

    position: fixed;
    bottom: 30px;
    left: calc((100vw - var(--self-width)) / 2);
    width: var(--self-width);
    height: var(--self-width);
    font-size: 1.25rem;
    z-index: 1051;

    @include media-breakpoint-up(sm) {
        position: sticky;
        top: 70px;
        right: 10px;
        bottom: unset;
        left: unset;
        z-index: 1001; // Map controls has z-index 1000, bootstrap offcanvas 1045
        float: right;
    }
    
    @include media-breakpoint-up(md) {
        top: 85px;
    }
}

.btn-floating-offcanvas {
    --bs-offcanvas-height: auto; // 420px
    --bs-offcanvas-width: 230px;
    --bs-offcanvas-zindex: 1046; // To overlap other offcanvas (1045)

    .offcanvas-body {
        padding-bottom: 2rem !important;
    }

    .list-group:not(:first-child) {
        margin-top: 1rem;
    }
}

.offcanvas-bottom-to-end {
    // For smaller screens, show offcanvas at the bottom
    @include media-breakpoint-down(sm) {
        & {
            bottom: var(--blz-bottom-bar-height);
            right: 0;
            left: 0;
            height: var(--#{$prefix}offcanvas-height);
            max-height: calc(100% - var(--blz-bottom-bar-height));
            border-top: var(--#{$prefix}offcanvas-border-width) solid var(--#{$prefix}offcanvas-border-color);
            transform: translateY(100%);
        }
    }

    // For larger screens, show offcanvas on the right side
    @include media-breakpoint-up(sm) {
        & {
            top: 0;
            right: 0;
            width: var(--#{$prefix}offcanvas-width);
            border-left: var(--#{$prefix}offcanvas-border-width) solid var(--#{$prefix}offcanvas-border-color);
            transform: translateX(100%);
        }
    }
}