.beings {
    @import "_salmon-card.scss";

    .card {
        position: relative;
        
        @import "_card-header-icons.scss";
    }

    .being-icon {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

    .information {
        color: var(--bs-secondary-color);
    }
}
