.beings {
    @import "_salmon-card.scss";

    .card {
        position: relative;
        
        @import "_card-header-icons.scss";

        .fa, .fas {
            width: 24px;
            text-align: center;
        }
    }

    .being-icon {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

    .information {
        color: var(--bs-secondary-color);
    }
}
