.calendar {
    .badge {
        display: block;
        margin-bottom: $spacer * .125;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    a.badge {
        text-decoration: none;

        &:hover {
            color: white;
        }
    }

    .calendar-header,
    .calendar-cell {
        width: calc(100% / 7);
        padding: .25rem;
        border: 0px solid var(--bs-secondary-border-subtle);
        border-left-width: 1px;
        border-bottom-width: 1px;

        &:last-child {
            border-right-width: 1px;
        }
    }

    .calendar-header {
        font-weight: bold;
        border-top-width: 1px;
    }

    .calendar-cell {
        aspect-ratio: 1;
    }
}
.date-picker {
    .btn-outline-primary {
        color: var(--bs-card-title-color) !important;
        border-color: $accent-color;
    
        &.selected {
            background-color: rgba(250, 128, 114, 0.5);
        }

        &:hover {
            background-color: rgba(250, 128, 114, 0.25) !important;
        }
    }

    .calendar-header {
        text-align: center;
        border-width: 0 !important;

        .d-lg-inline {
            display: none !important;
        }
    }

    .calendar-cell {
        display: flex;
        align-items: stretch;
        border-width: 0 !important;
    }
}
