.card-list {
    @import "_salmon-card.scss";

    .card {
        // position: relative;
        
        .card-header .card-header-spread-icon.fa, 
        .card-header .card-header-spread-icon.fas {
            margin-top: calc(var(--bs-card-cap-padding-y) * -1);
            margin-bottom: calc(var(--bs-card-cap-padding-y) * -1);

            &:last-child {
                margin-right: calc(var(--bs-card-cap-padding-x) * -1);
            }

            padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
            width: 52px;
            text-align: center;
        }

        .fa, .fas {
            @include uni-icon;
        }
    }

    .being-icon {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

    .information {
        color: var(--bs-secondary-color);
    }
}
