.editor-toolbar {
    display: flex;
    flex-wrap: wrap;
}

[data-bs-theme=dark] {
    .EasyMDEContainer .CodeMirror {
        color: var(--bs-body-color);
        border-color: var(--bs-secondary-border-subtle);
        background-color: var(--bs-body-bg);
    }
    .EasyMDEContainer .cm-s-easymde .CodeMirror-cursor {
        border-color: var(--bs-body-color);
    }

    .EasyMDEContainer .editor-toolbar > .active, .editor-toolbar > button:hover, .editor-preview pre, .cm-s-easymde .cm-comment {
        background-color: var(--bs-body-bg);
    }

    .EasyMDEContainer .CodeMirror-fullscreen {
        background: var(--bs-body-bg);
    }

    .editor-toolbar {
        border-top: 1px solid var(--bs-secondary-border-subtle);
        border-left: 1px solid var(--bs-secondary-border-subtle);
        border-right: 1px solid var(--bs-secondary-border-subtle);
        
        i.separator {
            border-left: 1px solid var(--bs-secondary-border-subtle);
            border-right: 1px solid var(--bs-secondary-border-subtle);
        }
    }

    .editor-toolbar.fullscreen {
        background: var(--bs-body-bg);
    }

    .editor-preview {
        background: var(--bs-body-bg);
    }
}