.file-upload {
    float: left;
    margin-right: 4px;

    input[type=file] {
        display: none;
    }
}

.file-progress-global {
    top: 51px;
    z-index: 1021;

    @include media-breakpoint-up(md) {
        top: 64px;
    }
}