.pswp__title {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.8rem;
}

.pswp__button--autoplay, .pswp__button--info {
    color: white;
}

.pswp__autoplay-progress {
    height: 3px;
    background: white;
    position: absolute;
    bottom: 0px;
}

img.pswp__video {
    cursor: pointer !important;
}
video.pswp__video {
    cursor: auto !important;
}