.icon-picker {
    .modal-body {
        .btn {
            width: 20%;
            font-size: 2.9rem;

            &.selected {
                color: rgba(250, 128, 114, 0.5);
            }
        }
    }
}
