.image-detail {
    .image {
        display: flex;
        align-items: center;

        img, video, .img {
            display: flex;
            align-items: center;
            justify-content: center;

            min-width: 50%;
            min-height: 200px;
            max-width: 100%;
            max-height: calc(100vh - var(--blz-top-bar-height) - var(--blz-bottom-bar-height));
            margin: 0 auto;
        }
    }
}
