.images {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;

    @media (min-width:520px) {
    }
    
    @media (min-width:768px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width:992px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (min-width:1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .image {
        position: relative;
        display: flex;
        align-items: center;

        a {
            button {
                position: absolute;
                right: 6px;
                top: 6px;
                display: none;
            }

            &:hover
            {
                text-decoration: none;

                button {
                    display: inline-block;
                    z-index: 1;
                }
            }
        }

        img, .img {
            @media (min-width:520px) {
                transition: transform 0.5s;
                
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}
