.mappage {
    position: absolute;
    top: 64px;
    left: 0;
    bottom: 0;
    right: 0;

    .map-container {
        height: 100%;

        .map {
            height: 100%;
            border-radius: 0 !important;
        }
    }

    @media (max-width:767px) {
        top: 48px;
    }
}
