.modal {
    --bs-modal-header-height: 66px;
    --bs-modal-footer-height: 71px;
}

.modal-overflow {
    --bs-modal-overflow-margin: var(--bs-modal-margin);
    --bs-modal-overflow-body-height: calc(100vh - (var(--bs-modal-header-height) + 1px) - (var(--bs-modal-footer-height) + 1px) - (var(--bs-modal-overflow-margin) * 2));

    .modal-body {
        max-height: var(--bs-modal-overflow-body-height);
        overflow: auto;
    }
    
    &.modal-fullscreen {
        --bs-modal-overflow-margin: -1px;
        .modal-body {
            height: var(--bs-modal-overflow-body-height);
        }
    }
}