.card {
    border-color: $accent-color;

    &.selected {
        background-color: rgba(250, 128, 114, 0.5);
    }

    &:hover:not(.no-hover) {
        background-color: rgba(250, 128, 114, 0.25);
    }

    a:hover {
        text-decoration: none;
    }
}
