.card {
    
    &.selected {
        background-color: rgba(250, 128, 114, 0.5);
        border-color: $accent-color;
    }
    
    &:hover:not(.no-hover) {
        background-color: rgba(250, 128, 114, 0.25);
        border-color: $accent-color;
    }

    a:hover {
        text-decoration: none;
    }
}
