.card {
    
    &.selected,
    &.selected-within {
        border-color: $accent-color;
    }
    
    &.selected {
        .card-header {
            background-color: rgba(250, 128, 114, 0.5);
        }
    }
    
    &:hover:not(.no-hover) {
        background-color: rgba(250, 128, 114, 0.25);
        border-color: $accent-color;
    }

    a:hover {
        text-decoration: none;
    }

    .list-group-item {
        &.selected {
            background-color: rgba(250, 128, 114, 0.5);
        }
    }
}
