.stories {
    @import "_salmon-card.scss";

    .information {
        color: var(--bs-secondary-color);
    }
}

.entry-detail {
    .chapter {
        margin-top: 1.5rem !important;
    }

    .entries {
        margin-bottom: 1.5rem;
    }
}