.story-picker {
    .chapter-toggle {
        margin: calc(var(--bs-card-spacer-y) * -1) calc(var(--bs-card-spacer-x) * -1);
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    }
}
