$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);
$gutter: 36px;
$border-width: 4px;
$dot-diameter: 18px;

.timeline {
    width: 100%;
    padding: 0 0 0 6px;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;

    &:before {
        content: '';
        position: absolute;
        top: 1rem;
        left: calc(15%);
        bottom: 0px;
        width: $border-width;
        background: var(--bs-secondary-bg);
    }

    * {
        box-sizing: border-box;
    }

    .separator {
        --separator-top-offset: 12px;
        --separator-top: calc(var(--blz-top-bar-height) + var(--separator-top-offset));
        top: var(--separator-top);
        margin-left: calc(15% - 25px);
    }

    .separator:first-child {
        top: var(--blz-top-bar-height);
        padding-top: var(--separator-top-offset);
        background: var(--bs-body-bg);
    }
}

.pt-1 > .timeline {
    margin-top: -($spacer * .25);
}

.entry {
    clear: both;
    text-align: left;
    position: relative;

    --dot-color: var(--bs-primary);

    .title {
        margin-bottom: .5em;
        float: left;
        width: 15%;
        padding-right: $gutter;
        text-align: right;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: $dot-diameter;
            height: $dot-diameter;
            border: $border-width solid var(--dot-color);
            background-color: var(--bs-body-bg);
            border-radius: 100%;
            top: 15%;
            right: -6px;
        }

        h3 {
            margin: 0;
            font-size: 120%;
        }

        p {
            margin: 0;
            font-size: 100%;
        }
    }

    .body {
        margin: 0 0 3em;
        float: right;
        width: 85%;
        padding-left: $gutter;

        h2 {
            margin-top: -6px;
            font-size: 180%;
        }

        .information {
            margin-right: 12px;
            color: var(--bs-secondary-color);
            white-space: nowrap;
        }
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
    
    &:not(.entry-new):last-child::before {
        position: absolute;
        top: 7px;
        left: calc(15% - 10px);
        width: 12px;
        bottom: 0;
        content: " ";
        display: block;
        background: var(--bs-body-bg);
    }
}

.entry-new {
    .date-box {
        width: 100px;
        float: right;
    }
}

@mixin narrow() {
    .timeline {
        &:before {
            left: 13px;
        }

        .separator {
            margin-left: -12px;
        }
    }

    .entry {
        .title {
            position: initial;
            width: auto;
            float: none;
            padding-right: 0;
            padding-left: $gutter;
            text-align: left;
            position: relative;

            &:before {
                right: auto;
                left: 0;
            }
        }

        .body {
            float: none;
            width: auto;
        }
    
        &:not(.entry-new):last-child::before {
            left: 4px;
        }
    }

    .entry-new {
        .date-box {
            width: 100%;
            float: none;
        }
    }

    .entry-more {
        margin-left: 0;
    }
}

.entry-picker {
    @include narrow;
}

.timeline-narrow {
    .timeline:before {
        top: 20px;
        border-radius: 4px;
    }

    @include narrow;

    .timeline {
        .entry:last-child .body {
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-down(md) {
    @include narrow;
}
