@import "_colors.scss";
$uni-icon-width: 24px;

@import "../lib/bootstrap/scss/functions";
$primary: $accent-color;

@import "../lib/bootstrap/scss/variables";
$theme-colors: map-merge($theme-colors, ( "primary": $primary ));

@import "../lib/bootstrap/scss/bootstrap";
@import "../lib/fontawesome/css/all.css"; // FontAwesome imports other files using relative paths
@import "../lib/easymde/dist/easymde.min.css";
@import "_easymde.customizations.scss";

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $placeholder-color;
}

::-webkit-scrollbar-thumb {
    background: #52585F;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    
    .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

html, body {
    overscroll-behavior-y: none;
}

body {
    position: relative;
    min-width: 370px;
    min-height: 100vh;
    padding-bottom: 56px;
}

footer.navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 0.5rem;

    .navbar-text {
        color: $placeholder-color !important;
    }

    a {
        color: $placeholder-color !important;

        &:hover {
            text-decoration: underline;
        }
    }
}

.body-bg {
    background: var(--bs-body-bg);
}

.bottom-bar {
    z-index: 1050;
    background: var(--bs-body-bg);
    border-top: 1px solid var(--bs-border-color-translucent);

    .items-6, .items-5, .items-4, .items-3 {
        span.text {
            display: none;
        }
    }
}

.toast {
    z-index: 1060;
}

.bottom-55 {
    bottom: 55px;
}

.offcanvas-bottom {
    bottom: 52px; // Duplicated for .offcanvas-bottom-to-end
}

.offcanvas-start {
    margin-bottom: 54px; // To avoid bottom bar
}

.offcanvas-bottom-menu {
    --bs-offcanvas-height: 320px;

    .versions {
        font-size: .6rem;
    }
}

blockquote {
    color: $placeholder-color;
}

.clear {
    clear: both;
}

.body-offset {
    margin-top: 24px;
}

.hidden, .inline-editor .hidden {
    display: none;
}

a {
    cursor: pointer;
}

a:not(.btn,.nav-link,.dropdown-item,.leaflet-control-zoom-out,.leaflet-control-zoom-in) {
    color: var(--bs-body-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.dropdown-item,
.list-group-item {
    .fa,
    .far,
    .fas {
        width: $uni-icon-width;
        text-align: center;
    }
}

.uniform {
    &.fa,
    &.far,
    &.fas {
        width: $uni-icon-width;
        text-align: center;
    }
}

.btn-primary {
    --bs-btn-color: #fff;
}

.btn-primary,
.btn-outline-primary {
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
}

.bg-salmon,
a.bg-salmon {
    color: white;
    background-color: salmon;
}

.aspect-1 {
    aspect-ratio: 1;
}

.cursor-pointer {
    cursor: pointer !important;
}

@media (max-width: 767px) {
    .modal .btn-sm-expand {
        flex: 1 1 auto !important; // flex-fill
    }
}

.modal .modal-overflow {
    --bs-modal-header-height: 66px;
    --bs-modal-footer-height: 71px;
    --bs-modal-overflow-margin: var(--bs-modal-margin);
    --bs-modal-overflow-body-height: calc(100vh - (var(--bs-modal-header-height) + 1px) - (var(--bs-modal-footer-height) + 1px) - (var(--bs-modal-overflow-margin) * 2));

    .modal-body {
        max-height: var(--bs-modal-overflow-body-height);
        overflow: auto;
    }
    
    &.modal-fullscreen {
        --bs-modal-overflow-margin: -1px;
        .modal-body {
            height: var(--bs-modal-overflow-body-height);
        }
    }
}

@media (min-width: 576px) {
    .modal .modal-overflow .modal-body {
        max-height: calc(100vh - 142px - 2.5rem);
    }
}

@import "_loading.scss";
@import "_inline-editor.scss";
@import "_file-upload.scss";
@import "_action-menu.scss";

.main-navbar {
    &.block-icons {
        padding-top: .25rem;
        padding-bottom: .25rem;

        .nav-link {
            text-align: center;
            padding-right: 1.1rem;
            padding-left: 1.1rem;

            @media (max-width: 767px) {
                padding-top: .3rem;
                padding-bottom: .3rem;
            }

            @media (min-width:1200px) {
                padding-right: 1.5rem;
                padding-left: 1.5rem;
            }

            .fa, .fas, .far {
                @media (max-width: 767px) {
                    font-size: 1.3rem;
                }

                @media (min-width: 768px) {
                    display: block;
                    text-align: center;
                }
            }
        }

        @media (min-width:768px) {
            & ~ .mappage {
                top: 64px !important;
            }
        }
    }
}

.user-navbar {
    flex-direction: row;
}

.actions {
    .right-actions {
        text-align: right;
    }

    button.btn {
        margin-bottom: 4px;
    }
}

@media (max-width:575px) {
    .actions {
        button.btn, form {
            width: 100%;
            display: block;
        }
        /* Copy non-sm button styles */
        button.btn {
            font-size: 1rem;
            padding: .375rem .75rem;
            border-radius: .25rem;
        }
    }
}

@import "_exception-panel.scss";
@import "_accounts.scss";
@import "_timeline.scss";
@import "_mappage.scss";
@import "_entry-detail.scss";
@import "_entry-picker.scss";
@import "_image-detail.scss";
@import "_stories.scss";
@import "_story-picker.scss";
@import "_beings.scss";
@import "_icon-picker.scss";
@import "_search.scss";
@import "_calendar.scss";
@import "_version.scss";
