@import "_colors.scss";
$uni-icon-width: 24px;

@import "../lib/bootstrap/scss/functions";
$primary: $accent-color;

@import "../lib/bootstrap/scss/variables";
$theme-colors: map-merge($theme-colors, ( "primary": $primary ));

@import "../lib/bootstrap/scss/bootstrap";
@import "../lib/fontawesome/css/all.css"; // FontAwesome imports other files using relative paths
@import "../lib/easymde/dist/easymde.min";
@import "_easymde.customizations";

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $placeholder-color;
}

::-webkit-scrollbar-thumb {
    background: #52585F;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

html, body {
    overscroll-behavior-y: none;
}

body {
    position: relative;
    min-width: 370px;
    min-height: 100vh;
    padding-bottom: calc(var(--blz-bottom-bar-height) + 2rem);
}

footer.navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: $spacer * 0.5;

    .navbar-text {
        color: $placeholder-color !important;
    }

    a {
        color: $placeholder-color !important;

        &:hover {
            text-decoration: underline;
        }
    }
}

.body-bg {
    background: var(--bs-body-bg);
}

@import "_bottom-bar.scss";

.toast {
    z-index: 1060;
    bottom: 55px;
}

.offcanvas-bottom {
    bottom: var(--blz-bottom-bar-height); // Duplicated for .offcanvas-bottom-to-end
}

.offcanvas-start {
    margin-bottom: var(--blz-bottom-bar-height); // To avoid bottom bar
}

blockquote {
    color: $placeholder-color;
}

.clear {
    clear: both;
}

.hidden, .inline-editor .hidden {
    display: none;
}

a {
    cursor: pointer;
}

a:not(.btn,.nav-link,.dropdown-item,.leaflet-control-zoom-out,.leaflet-control-zoom-in) {
    color: var(--bs-body-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@mixin uni-icon {
    width: $uni-icon-width;
    text-align: center;
}

.dropdown-item,
.list-group-item {
    .fa,
    .far,
    .fas {
        @include uni-icon;
    }
}

.uniform {
    &.fa,
    &.far,
    &.fas {
        @include uni-icon;
    }
}

.btn-primary {
    --bs-btn-color: #fff;
}

.btn-primary,
.btn-outline-primary {
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
}

.aspect-1 {
    aspect-ratio: 1;
}

.cursor-pointer {
    cursor: pointer !important;
}

@include media-breakpoint-down(md) {
    .modal .btn-sm-expand {
        flex: 1 1 auto !important; // flex-fill
    }
}

@import "_modal.scss";
@import "_loading.scss";
@import "_inline-editor.scss";
@import "_file-upload.scss";
@import "_action-menu.scss";
@import "_top-bar.scss";

.actions {
    .right-actions {
        text-align: right;
    }

    button.btn {
        margin-bottom: 4px;
    }
}

@media (max-width:575px) {
    .actions {
        button.btn, form {
            width: 100%;
            display: block;
        }
        /* Copy non-sm button styles */
        button.btn {
            font-size: 1rem;
            padding: .375rem .75rem;
            border-radius: .25rem;
        }
    }
}

@import "_accounts.scss";
@import "_timeline.scss";
@import "_map.scss";
@import "_images.scss";
@import "_gallery.scss";
@import "_entry-picker.scss";
@import "_image-detail.scss";
@import "_card-list.scss";
@import "_story-picker.scss";
@import "_icon-picker.scss";
@import "_search.scss";
@import "_calendar.scss";
@import "_version.scss";
