<Modal @ref="Modal" OnFormSubmit="ExecuteAsync">
    <TitleContent>
        <Icon Identifier="key" />
        Change password
    </TitleContent>
    <ChildContent>
        <Validation ErrorMessages="ErrorMessages" />
        
        @if (IsChanged)
        {
            <Alert Mode="AlertMode.Success" CssClass="py-2">
                <Icon Identifier="check" CssClass="me-1" />
                You password has been changed...
            </Alert>
        }

        <div class="form-floating mb-4">
            <input id="current-password" class="form-control" type="password" placeholder="Current password" @bind="Current" />
            <label for="current-password">Current password</label>
        </div>
        <div class="form-floating mb-3">
            <input id="new-password" class="form-control" type="password" placeholder="New password" @bind="New" />
            <label for="new-password">New password</label>
        </div>
        <div class="form-floating mb-3">
            <input id="confirm-new-password" class="form-control" type="password" placeholder="Confirm new password" @bind="ConfirmNew" />
            <label for="confirm-new-password">Confirm new password</label>
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary btn-sm-expand" type="submit">Do it</button>
    </Buttons>
</Modal>