<a @ref="MeButton" class="btn btn-outline-info" href="/me" title="About me" data-toggle="tooltip" data-placement="bottom">
    <Icon Identifier="user" />
</a>
<button @ref="LogoutButton" type="button" class="btn btn-outline-danger" @onclick="@LogoutAsync" title="Log out" data-toggle="tooltip" data-placement="bottom">
    <Icon Prefix="fas" Identifier="sign-out-alt" />
</button>
