<CascadingValue Value="@this">
    @if (IsEnsureInitializedPage && !initializationSource.Task.IsCompleted)
    {
        <div class="container mt-4">
            <h5 class="text-center">
                <Icon Identifier="user-clock" />
                Verifying your cookie...
            </h5>
        </div>
    }
    else if (IsTokenProcessing)
    {
        <div class="container mt-4">
            <h5 class="text-center">
                <Icon Identifier="user" />
                Processing your invitation token...
            </h5>
        </div>
    }
    else if ((IsEnsureAuthenticatedPage || IsAuthenticationRequired) && !IsAuthenticated)
    {
        <Neptuo.Recollections.Accounts.Pages.Login />
    }
    else
    {
        @ChildContent
    }
</CascadingValue>