@if (UserState.IsAuthenticated)
{
    <li class="nav-item mr-2">
        <a @ref="MeButton" class="btn btn-outline-info border-0" href="/me" title="About me" data-toggle="tooltip" data-placement="bottom">
            <Icon Identifier="user" />
            About me
        </a>
    </li>
    <li class="nav-item">
        <button type="button" class="btn btn-outline-danger border-0" @onclick="@LogoutAsync">
            <Icon Prefix="fas" Identifier="sign-out-alt" />
            Log out
        </button>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" @onclick="LoginAsync">Login</a>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="@Navigator.UrlRegister()">Register</NavLink>
    </li>
}
