<span>
	<a class="btn btn-outline-info" href="/me" title="About me">
		<Icon Identifier="person" />
	</a>
	<button type="button" class="btn btn-outline-danger" @onclick="@LogoutAsync" title="Log out">
		<Icon Identifier="account-logout" />
	</button>
</span>