@if (IsInstallable)
{
    <li class="nav-item d-none d-lg-block">
        <a class="nav-link" @onclick="InstallAsync" title="Install as application to your device" href="">
            <Icon Identifier="cloud-download-alt" />
            <span class="d-none d-md-inline-block">Install</span>
        </a>
    </li>
}