@if (Layout == ButtonLayout.Button)
{
    <button class="btn btn-sm btn-success" @onclick="@OnClick">
        <Icon Prefix="fas" Identifier="share" />
    </button>
}
else if (Layout == ButtonLayout.DropdownItem)
{
    <a class="dropdown-item" @onclick="@OnClick">
        <Icon Prefix="fas" Identifier="share" />
        Share a link
    </a>
}

<TemplateContent Name="Dialogs">
    <Toast @ref="Toast" />
</TemplateContent>
