@if (Layout == ButtonLayout.Button)
{
    <button class="btn btn-sm btn-success" @onclick="@OnClick">
        <Icon Prefix="fas" Identifier="share" />
    </button>
}
else if (Layout == ButtonLayout.Item)
{
    <Item Icon="share" Text="Share a link" OnClick="@OnClick" />
}

<TemplateContent Name="Dialogs">
    <Toast @ref="Toast" />
</TemplateContent>
