.inline-editor {
    .oi {
        color: $ok-color;
    }

    .form-control {
        font-size: inherit;
    }
}

.inline-editor-viewmode {

    .oi {
        display: none;
        color: $placeholder-color;
    }

    &:hover {

        .oi {
            display: inline-block;
        }
    }
}
