.timeline {
    .entry {
        padding: 24px;
        margin: 24px 0;
        border-radius: 10px;
        border: 2px solid #f6f6f8;

        .title {
            h2 {
                float: left;
            }

            .actions {
                float: right;
            }
        }
    }
}
