.timeline {
    $borderColor: #e5e5e5;

    .timeline-item {
        position: relative;
        margin-left: 24px;
        border-left: 2px dashed $borderColor;
    }

    .timeline-item-connector {
        position: absolute;
        width: 24px;
        height: 2px;
        top: 76px;
        border-bottom: 2px dashed $borderColor;
    }

    .timeline-item-body {
        padding: 1px 0 1px 24px;
    }

    .entry {
        padding: 24px;
        margin: 24px 0;
        border-radius: 10px;
        border: 2px solid $borderColor;

        .title {
            h2 {
                float: left;
            }

            .actions {
                float: right;
            }
        }
    }
}
